html {
  height: 100%;
  width: 100%;
}

body{
    background-image:url("https://res.cloudinary.com/rebelwalls/image/upload/b_black,c_fit,fl_progressive,q_auto,w_1333/v1428566513/article/R11821_image1");
    }

footer {
  background-color: rgba(0,128,0, 0.6);
  color: white; 
      border: solid yellow thick;
  padding: 20px; 
  text-align: center; 
  font-size: 14px;
}

footer a {
  color: #1abc9c;
  text-decoration: none; /* Remove underlines from links */
  margin: 0 10px; /* Space between links */
}

header {
  background-color: rgba(0,128,0, 0.6);
  color: white; 
  padding: 20px; 
  text-align: center; 
  font-size: 14px;
}

header a {
  color: #1abc9c;
  text-decoration: none; /* Remove underlines from links */
  margin: 0 10px; /* Space between links */
}


.form{
    width: 50%;
    height: 300px;
    background: rgba(0,128,0, 0.6);
    border: solid yellow thick;
    border-radius: 20px;
    margin: 0 auto;
    padding: 15px;
    margin-top: 75px;
}

.ipt1{
    width:45px;
}

.ipt2{
    width:95px;
}

.ipt3{
    width:120px;
}
